<?xml version="1.0"?>
<config>
    <modules>
        <JustCoded_PCIAuth>
            <version>0.2.1</version>
        </JustCoded_PCIAuth>
    </modules>
    <global>
        <blocks>
            <justcoded_pciauth>
                <class>JustCoded_PCIAuth_Block</class>
            </justcoded_pciauth>
        </blocks>
        <models>
            <justcoded_pciauth>
                <class>JustCoded_PCIAuth_Model</class>
                <resourceModel>justcoded_pciauth_resource</resourceModel>
            </justcoded_pciauth>
            <justcoded_pciauth_resource>
                <class>JustCoded_PCIAuth_Model_Resource</class>
                <entities>
                    <customer_password_history_entity>
                        <table>justcoded_pciauth_customer_password_history</table>
                    </customer_password_history_entity>
                </entities>
            </justcoded_pciauth_resource>
            <customer>
                <rewrite>
                    <customer>JustCoded_PCIAuth_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <justcoded_pciauth>
                <class>JustCoded_PCIAuth_Helper</class>
            </justcoded_pciauth>
        </helpers>
        <resources>
            <justcoded_pciauth_setup>
                <setup>
                    <module>JustCoded_PCIAuth</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </justcoded_pciauth_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <JustCoded_PCIAuth>
                    <files>
                        <default>JustCoded_PCIAuth.csv</default>
                    </files>
                </JustCoded_PCIAuth>
            </modules>
        </translate>
        <layout>
            <updates>
                <justcoded_pciauth>
                    <file>justcoded_pciauth.xml</file>
                </justcoded_pciauth>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <justcoded_pciauth_controller_action_predispatch>
                        <type>singleton</type>
                        <class>justcoded_pciauth/observer</class>
                        <method>deactivateNotActiveCustomer</method>
                    </justcoded_pciauth_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <JustCoded_PCIAuth>
                    <files>
                        <default>JustCoded_PCIAuth.csv</default>
                    </files>
                </JustCoded_PCIAuth>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <justcoded_pciauth>
            <settings>
                <password_min_length>8</password_min_length>
                <login_max_tries>6</login_max_tries>
                <login_tries_reset_time>10</login_tries_reset_time>
                <lockout_effective_period>60</lockout_effective_period>
                <account_deactivation_period>60</account_deactivation_period>
            </settings>
        </justcoded_pciauth>
    </default>
</config>
